h1 {
    font-size: 18px;
    font-weight: 900;
    color: rgb(48, 48, 48);
    line-height: 30px;
}

th {
    text-align:center;
    font-size: 16px;
    font-weight: 600;
    color:#3333b0;
    /* 3 * 16 + 3 = 51, 11 * 16 = 176 */

}
td {
    color: violet;
}
img {
    width: 100px;
    height: 200px;
}